<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
      {% for category,message in messages %}
      <div class='alert alert-{{ category }}'>{{ message }}</div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </head>
  <body>
    <nav>
      <a>Home</a>
      <a>Logout</a>
      <a>Compose</a>
      <a>Sent</a>
    </nav>
    <div>
      <h2>ID: {{mail.id}}</h2>
    </div>
    <div>
      <h2>To: {{mail.receiver}}</h2>
    </div>
    <div>
      <h2>Subject: {{mail.subject}}</h2>
    </div>
    <div>
      <h2>Content: {{mail.content}}</h2>
    </div>
    <form method='POST'>
      <input type="checkbox" name="del">
      <label for="del">Delete</label>
      <br>
      <br>
      <input type="submit" name="submit" value="Submit">
    </form>

  </body>
</html>
