<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
      {% for category,message in messages %}
      <div class='alert alert-{{ category }}'>{{ message }}</div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </head>
  <body>
    <h1>What do you want to do?</h1>
    <div>
      <h2><a href="{{ url_for('compose')}}">Compose an email</a></h2>
    </div>
    <div>
      <h2><a href="{{ url_for('sent')}}">View sent emails</a></h2>
    </div>
    <div>
      <h2><a href="#">View recently deleted emails</a></h2>
    </div>
    <div>
      <h2><a href="{{ url_for('logout')}}">Logout</a></h2>
    </div>

  </body>
</html>
