<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
      {% for category,message in messages %}
      <div class='alert alert-{{ category }}'>{{ message }}</div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </head>
  <body>
    <form method='POST'>
      <div>
        {{ form.email.label}}
      </div>
      <div>
        {{ form.email }}
      </div>
      <div>
        {{ form.password.label }}
      </div>
      <div>
        {{ form.password }}
      </div>
      <div>
        {{ form.submit }}
      </div>
    </form>
  </body>
</html>
