<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Emails</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
      {% for category,message in messages %}
      <div class='alert alert-{{ category }}'>{{ message }}</div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </head>
  <body>
    <nav>
      <a>Home</a>
      <a>Logout</a>
      <a>Compose</a>
    </nav>
    <ul>
      {% for mail in mails %}
      <div class='alert alert-{{ category }}'><h2><a href="/edit/{{mail.id}}">{{ mail.subject }}</a></h2>{{ mail.content }}</div><br>
      {% endfor %}
    </ul>
  </body>
</html>
